@import "reset.scss";

body{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color:  rgba(73,80,87,.5);
    font-weight: 500;
}


.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.wrapper > main{
    flex-grow: 1;
}

.header {

		// .header__container
		&__container {
            max-width: 1270px;
            padding: 0 15px;
            margin: 0 auto;
		}

		// .header__wrapper

		&__wrapper {
            display: flex;
            justify-content: space-between;
            min-height: 90px;
            column-gap: 30px;
            align-items: center;
		}

		// .header__vense

		&__vense {
            position: relative;
            z-index: 2;
            line-height: 138.888889%; /* 25/18 */
            font-weight: 700;
            color: #495057;
            ::after{
                content: ".";
                color: #DDBEA9;
                font-size: 18px;
                border-radius: 5px;
            }
		}

		// .header__menu

		&__menu {
		}


        
		// .header__button

		&__button {
            display: flex;
            column-gap: 20px;
            font-size: 12px;
            z-index: 2;
		}

        &__sab-button{
            background: #DDBEA9;
            border-radius: 20px;
            padding: 7px 16px;
            line-height: 166.666667%; /* 25/15 */
            &:hover{
                opacity: 0.8;
                transition: opacity 0.3s;
            }
        }

        &__button-one{
            @media (max-width: 660px){
                font-size: 16px;
            }
            transition: color 0.3s;
            &:hover{
                color: #212529;
                transition: color 0.3s;
            }
        }
}
.menu {

		// .menu__item

        &__body{
            @media (max-width: 660px){
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #F8F9FA;
                padding: 70px 15px 20px 15px;
            }
        }


		&__item {
            @media (max-width: 660px){
                flex-direction: column;
            }
            display: flex;
            flex-wrap: wrap;
            column-gap: 25px;
            row-gap: 10px;
		}

		// .menu__list

		&__list {
            @media (max-width: 660px){
                font-size: 18px;
            }
            font-size: 12px;
            position: relative;
            line-height: 208.333333%;
            font-weight: 500; /* 25/12 */
            &_check{
                &:hover{
                    .sab-menu__item{
                        opacity: 1;
                        visibility: visible;
                        position: absolute;
                        padding-top: 20px;
                    }
                }
                .menu__link{
                    &::after{
                        content: "";
                        background: url(../img/07.svg) 0 0 / 100% no-repeat;
                        flex: 0 0 8px;
                        height: 5px;
                        margin-left: 5px;
                        margin-top: 2.10px;
                    }
                }
            }
            &:hover{
                .menu__link{
                    &::before{
                        width: 100%;
                        left: 0;
                    }
                }
            }
		}

        

		// .menu__link

		&__link {
            display: inline-flex;
            align-items: center;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 2px;
                height: 2px;
                width: 0;
                transition: 0.3s;
                background-color:#DDBEA9;
            }
		}
}


.sab-menu {
    position: relative;
    // .sab-menu__item




    &__item {
        @media(min-width:660px){
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #212529;
        padding: 20px;
        width: 136px;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        border-radius: 5px;
    }
}

    // .sab-menu__list

    &__list {

        font-size: 12px;
        color: #60666b;
        line-height: 208.333333%; /* 25/12 */
        font-weight: 500;
        &:hover{
            color: #F8F9FA;
        }
    }

    // .sab-menu__link

    &__link {
    }
}


.header {

    // .header__icon

    &__icon {
        display: none;
        padding-right: 20px;
        @media(max-width: 660px){
            &{
                display: block;
                flex: 0 0 30px;
                height: 18px;
                position: relative;
                &::before,&::after,span {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background-color: #212529;
                }
                &::before{
                    top: 0;
                }
                &::after{
                    bottom: 0;
                }
                span{
                    top: 50%;
                }
            }
        }
    }

}

